.audio-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
  overflow-y:auto;
}

.audio-modal span {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}
