/* 
Force intentional padding in design
Force intentional focus styles
*/

:root {
  --root-em-size: 16px;
}

html {
  font-size: var(--root-em-size);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  font-family: sans-serif;
}

code {
  font-family: monospace;
}

#root {
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
}
